<html lang="en">
    <head><title>About APOD</title></head>
    <body>
        <h1>Astronomy Picture of the Day</h1>
        <p>
            Astronomy Picture of the Day (APOD) is originated, written,
            coordinated, and edited since 1995 by Robert Nemiroff and Jerry
            Bonnell. The APOD archive contains the largest collection of
            annotated astronomical images on the internet.
        </p>
    </body>
</html>