<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/mvp.css" />
    </head>
    <body>
        <main>
            <h1>{{title}}</h1>
            <img src="{{pic_url}}" />
        </main>
    </body>
</html>